<div class="jumbotron center-block" style="width: 60%; text-align: center;">
    <form #form="ngForm" autocomplete="off">
        <div class="container" style="padding: 15px;" *ngIf="isAvailable">
            <div class="form-group">
                <label>Your group name</label>
                <input type="text" class="form-control" name="Name" [(ngModel)]="formData.Name" placeholder="Enter group name" required />
            </div>
            <div class="form-group">
                <label>Category</label>
                <select class="form-control" name="Category" [(ngModel)]="formData.Category" required>
                    <option value="0" selected disabled>--Select--</option>
                    <option *ngFor="let category of categoryList" [value]="category.ID"> {{ category.Name }} </option>
                </select>
            </div>

            <div class="container" style="margin: 10% 0px 10% 0px; border-radius: 5px; box-shadow: 5px 5px 8px #777">
                <h4 style="font-weight: bold; margin-bottom: 5%;">Members</h4>
                <input type="text" name="Id" [(ngModel)]="currentUser.Id" hidden />
                <div class="form-group col-xs-6">
                    <label>Name</label>
                    <input type="text" class="form-control" [value]="currentUser.FullName" style="background-color: white" readonly />
                </div>
                <div class="form-group col-xs-6">
                    <label>Email</label>
                    <input type="text" class="form-control" [value]="currentUser.UserName" style="background-color: white" readonly />
                </div>

                <div *ngFor="let user of formData.UserGroupMapper">
                    <div class="form-group col-xs-6">
                        <input type="text" class="form-control" [value]="user.FullName" style="background-color: white" readonly />
                    </div>
                    <div class="form-group col-xs-6">
                        <input type="text" class="form-control" [value]="user.UserName" style="background-color: white" readonly />
                    </div>
                </div>

                <div class="form-group col-xs-6" style="margin-top: 5%;">
                    <input #FullName name="newlyAddedFulllName" [(ngModel)]="newlyAddedFulllName" class="form-control" placeholder="Name" />
                </div>
                <div class="form-group col-xs-6" style="margin-top: 5%;">
                    <input #UserName name="newlyAddedUserName" [(ngModel)]="newlyAddedUserName" class="form-control" placeholder="Email Address" />
                </div>

                <button class="btn btn-success" (click)="AddUser(FullName.value,UserName.value)" style="margin: 0px 0px 5% 0px;">Add User</button>
            </div>
        </div>
        <label>Simplify Debts</label>
        <div class="form-check" style="margin-bottom: 3%;">
            <input class="form-check-input" type="checkbox" id="simplifydebt" name="SimplifyDebts" [(ngModel)]="formData.SimplifyDebts">
            <label class="form-check-label" for="simplifydebt">
                &nbsp; True
            </label>
        </div>
        <div class="form-group">
            <textarea class="form-control rounded-0" name="Note" [(ngModel)]="formData.Note" rows="3" cols="15" placeholder="Notes"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" (click)="OnSubmit()" [disabled]="form.invalid">Save</button>
        </div>
    </form>
</div>